/* Color palette:
https://coolors.co/palette/131515-2b2c28-339989-7de2d1-fffafb */

body{
    background-color: #7DE2D1;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

div{
    background-color: #FFFAFB;
    margin: 20px;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
}

input, textarea{
    max-width: fit-content;
}

.contact-us > div {
    margin-top: 5px;
    margin-bottom: 15px;
}

form {
    border: 2px solid black;
    border-radius: 15px;
}

fieldset{
    border: none;
}

textarea{
    margin-top: 5px;
}

.contact-us{
    max-width: 550px;
}

.formshape{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
}
