<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <title>Testing out Vue.js</title>
</head>
<body>

    <div id="app">
        <h1>{{ value }}</h1>
        <button @click="increment">{{ btnTxt }}</button>
    </div>

    <div id="user">
        <p>Hello  {{ user }}</p>
        <input type="text" v-model="username" id="input">
        <button type="submit" @click="submit">Set username</button>
    </div>

    <div id="if-statements">
        <div v-if="page === 0">
            <p>Hello from page {{ count }}</p>
        </div>
        <div v-if="page === 1">
            <p>Hello from page {{ count }}</p>
        </div>
        <div v-if="page === 2">
            <p>Hello from page {{ count }}</p>
        </div>
        <div v-if="page === 3">
            <p>Hello from page {{ count }}</p>
        </div>
        <div v-if="page === 4">
            <p>Hello from page {{ count }}</p>
        </div>
        <button @click="nextPage">
            Next page
        </button>
    </div>


    <div id="contact-form">
        <form action="submit">
            <fieldset>
                <div class="formshape">
                    <label for="your-name">Name</label>
                    <input type="text" name="your-name" id="your-name" required placeholder="Full Name">
                    <label for="your-email">Email</label>
                    <input type="email" name="your-email" id="your-email" required placeholder="your@email.com">
                    <label for="your-subject">Subject</label>
                    <input type="text" name="your-subject" id="your-subject" required placeholder="Subject">
                    <label for="your-message">What to you want to say?</label>
                    <textarea name="your-message" id="your-message" cols="30" rows="10" required @keyup="getLength"
                            placeholder="Your message here, max 500 characters"></textarea>
                    <p class="word-count"><span class="counter">0</span> / <span class="max-val"></span></p>
            </fieldset>
            </div>
            <button class="submit" type="submit">Send message</button>
        </form>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>