<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/efafec28fb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css-files/css.css" />
    <title>Document</title>
  </head>

  <header class="sticky">
    <label for="hamburger_menu" class="menubox"
      ><i class="fas fa-bars" id="menu_icon"></i
    ></label>
    <input type="checkbox" name="hamburger_menu" id="hamburger_menu" />
    <nav>
        <ul class="navigation">
            <li class="navItem" v-for="navItem in navigationItems"><a v-bind:href="navItem.link">{{ navItem.name }}</a></li>
        </ul>
    </nav>
</header>

  <body>
    <div class="shopping-list">
      <div class="header">
        <h1>{{ header || `Welcome to the party zone!` }}</h1>
        <button
          v-if="editing === true"
          @click="doEdit(false)"
          class="btn btn-cancel"
        >
          Cancel
        </button>
        <button v-else @click="doEdit(true)" class="btn btn-primary">
          Add item
        </button>
      </div>
      <form class="add-item-form" v-if="editing === true">
        <fieldset>
          <input
            @keydown.enter.prevent.self="saveItem"
            type="text"
            placeholder="Add an item"
            v-model="newItem"
          />
          <label for="priority" id="important-checkbox">
            Important
            <input
              type="checkbox"
              name="priority"
              id="priority"
              v-model="newItemHighPri"
            />
          </label>
        </fieldset>
        <button
          v-if="newItem.length < 1"
          disabled
          class="btn btn-primary"
          @click.prevent.self="saveItem"
        >
          Add to list
        </button>

        <button v-else class="btn btn-primary" @click.prevent.self="saveItem">
          Add to list
        </button>
      </form>
      <p v-if="groceries.length === 0">No items in the list</p>
      <ul>
        <li v-for="(item,  i) in groceries" :key="item.id">
          <span v-if="item.important" class="important"
            >{{ i + 1 }}; {{ item.label }}</span
          >
          <span v-else>{{ i + 1 }}; {{ item.label }}</span>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/navigation.js"></script>

    <!-- Vue script below -->
    <script>
      const shoppingList = Vue.createApp({
        data() {
          return {
            header: "Shopping List App",
            editing: false,
            newItem: "",
            newItemHighPri: false,
            groceries: [
              {
                id: 1,
                label: "Bread",
                important: false,
              },
              {
                id: 2,
                label: "Bananas",
                important: false,
              },
              {
                id: 3,
                label: "Beer",
                important: true,
              },
            ],
          };
        },
        methods: {
          saveItem() {
            this.groceries.push({
              id: this.groceries.length + 1,
              label: this.newItem,
              important: this.newItemHighPri,
            });
            this.newItem = "";
            this.newItemHighPri = false;
          },
          doEdit(edit) {
            this.editing = edit;
            this.newItem = "";
          },
        },
      }).mount(".shopping-list");
    </script>
  </body>
</html>
